<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Split Money</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="main"></div>
    {% load static %}
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
</body>

</html>
