<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Split Money</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">
    <!--TODO: static load of js (if it's possible)-->
    <!--{% load static %}-->
    <!--<script type="text/javascript" src="{ % static main/js/main.js %}"></script>  -- this whitespace between { and % is for django)-->
    <script type="text/javascript" src="../../static/main/js/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <form action="index.html" method="get">
        <div id="input">
            <input type="text" name="name1" placeholder="Ivan">
            <input type="text" name="money1" placeholder="1488">
            <br>
        </div>
        <button type="button" onclick="addPerson()">+</button>
        <br>
        <button type="submit">Split Money!</button>
    </form>
</body>

</html>